<% content_for :title, "#{post.title} | #{t('site-name')}" %>

<% content_for :tags do %>
  <meta name="description" content="<%= post.description.strip %>"/>
  <meta name="og:description" content="<%= post.description.strip %>"/>
  <meta name="og:image" content="<%= post.cover.url(:desktop) %>"/>
<% end %>

<section class="post-header">
  <div class="container padding-base">
  <div class="background" style="background-image: url('<%= post.cover.url(:desktop) %>')"></div>
    <h1 class="post-title">
      <%= post.title %>
    </h1>
  </div>
</section>

<section class="container padding-base">
  <div class="post-body">
    <%= post.body.html_safe %>
  </div>
</section>
